/* Reset */
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

input:focus {
  outline: none;
}

/* Main styling */
body {
  background-color: #000000;
  color: #fff;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

:root {
  --primary-color: #146ef5;
  --primary-hover-color: rgb(0, 82, 206);
  --primary-black: #000;
  --primary-bg-color: #000;
  --secondary-bg-color: #fff;
  --primary-white: #fff;
  --primary-font-color: #fff;
  --secondary-font-color: #000;
}

/* Scroll Bar style */

::-webkit-scrollbar {
  background: #1f1f1f;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* keyframes */

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg) scale(1);
  }
  25% {
    transform: rotateZ(5deg) scale(1.025);
  }
  50% {
    transform: rotateZ(0deg) scale(1.05);
  }
  75% {
    transform: rotateZ(-5deg) scale(1.075);
  }
  100% {
    transform: rotateZ(0deg) scale(1.1);
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px 0;
  }
}

.shimmer {
  /* position: relative; */
  background: #3a3a3a;
  background-image: linear-gradient(
    to right,
    #3a3a3a 0%,
    #3f3f3f 10%,
    #4a4a4a 20%,
    #3f3f3f 30%,
    #3a3a3a 50%,
    #3a3a3a 100%
  );
  /* border-radius: inherit; */
  background-repeat: no-repeat;
  background-size: 800px 200px;

  /* Animantion */
  -webkit-animation-duration: 1s;

  /* Specifies style for element when animation isn't playing */
  -webkit-animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
  -webkit-animation-timing-function: ease-in-out;
}

.app {
  margin-top: 8rem;
  position: relative;
}
